body {
    background-color: white;
}

.navbar{
    position: sticky;
    top: 20px;
    background-color: darkgreen ;
}
    
/*buttons*/
.button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*clickable image buttons*/
.button-image {
    background-image: "logo_V1-removebg-preview-export.png"; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*text*/


.txt {
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*h1 big title in the middle*/
h1 {
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*h2 title in the middle*/
h2 {
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*h3 bold text in the middle*/
h3 {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

/*big break line*/
hr {
    border: 1px solid black;
    width: 100%;
}

/*text on the left with an image on the right*/
.left-text {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: left;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    margin: 0;
    padding: 0;
}
/*text on the right with an image on the left*/
.right-text {
    float: right;
    width: 50%;
    padding: 10px;
    text-align: right;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    margin: 0;
    padding: 0;
}
/*image on the left*/
.left-image {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: left;
    margin: 0;
    padding: 0;
}
/*image on the right*/
.right-image {
    float: right;
    width: 50%;
    padding: 10px;
    text-align: right;
    margin: 0;
    padding: 0;
}

/*foot of the page*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

/*background color of the page*/
.background {
    background-color: lightgreen;
}















/*Flex Box */

/* Base class */
.container-flex{display: flex;}
.item-width{width: 300px}
.item-height-small{height: 100px;}
.item-height-big{height: 300px;}

/* Display flex */
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction: row-reverse;}
.flex-column{flex-direction: column;}
.flex-column-reverse{flex-direction: column-reverse;}

/* Flex wrap */
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}

/* Justify content */
.justify-content-flex-start{justify-content: flex-start;}
.justify-content-flex-end{justify-content: flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-space-between{justify-content: space-between;}
.justify-content-space-around{justify-content: space-around;}
.justify-content-space-evenly{justify-content: space-evenly;}

/* Align items */
.align-items-flex-start{align-items: flex-start;}
.align-items-flex-end{align-items: flex-end;}
.align-items-center{align-items: center;}
.align-items-stretch{align-items: stretch;}
.align-items-baseline{align-items: baseline;}

/* Align content */
.align-content-flex-start{align-content: flex-start;}
.align-content-flex-end{align-content: flex-end;}
.align-content-center{align-content: center;}
.align-content-stretch{align-content: stretch;}
.align-content-space-between{align-content: space-between;}
.align-content-space-around{align-content: space-around;}
.align-content-stretch{align-content: stretch;}

/* Child order */
.order-0{order: 0}
.order-1{order: 1}
.order-2{order: 2}

/* Child flex grow */
.flex-grow-1{flex-grow: 1}
.flex-grow-2{flex-grow: 2}


