/*début CSS de Victor*/

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background: black;
    background-size: 110%;
    opacity: 1;
    /*transition: width 0.5s height 0.5s opacity 0.5s;*/
    z-index: 1;
    /*no white space around it*/
    padding: 0px;
    margin: 0px;


}

/*animation, don't know if i will keep it, i did not sleep much for the past week :'( please help me i'm working way too much (victor)
/*#navbar:hover {
    opacity: 1;
    width: 100%;
    height: auto;
    animation: appear-outside-top-left 0.5s forwards;
}*/
#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navbar ul li {
    display: inline-block;
    margin: 0 10px;
} 
#navbar ul li a {
    display: inline-block;
    padding: 10px;
    margin-top: 1vh;
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.15s;
}    
#navbar ul li a:hover {
    color: #93E1F0;
}
#navbar ul li a.active {
    color: #93E1F0;
    
}
#navbar ul li a.active:hover {
    color: #fff;
}

#navbar ul li a:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: transparent;
    margin-top: 5px;
    transition: background 0.5s;
}


#navbar ul li img {
    width: auto;
    height: calc(10vh - 8px);
    min-height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    left: 4px;
}

#navbar ul li a.current-page {
    color: #93E1F0;
}

/*en savoir plus*/
.en-savoir-plus {
    color: #93E1F0;
    font-size: calc(1+1920px/1920*3px + 1vw);
    font-weight: normal;
    text-transform: none;
    position: absolute;
}
.en-savoir-plus:hover {
    color: #0078B8;
}
/*button with a oval border when clicked change colorstep by step*/
.button {
    background-color: #93E1F0;
    border: none;
    color: white;
    padding: 1vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 2vw 1VH;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #93E1F0;
}
.button:hover {
    background-color: #0078B8;
    color: white;
    border: 2px solid #0078B8;
}
.button:active {
    background-color: #0078B8;
    color: white;
    border: 2px solid #0078B8;
}









/*titles*/

/*h1 big title in the middle*/
h1 {
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #0078B8;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*h2 title in the middle*/
h2 {
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #0078B8;
    text-align: center;
    margin: 0;
    padding: 0;
 }
/*h3 bold text in the middle*/
h3 {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #0078B8;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

h6{
    font-size: 2vw;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #0078B8;
    /*text-align: center;*/
    margin: 0;
    padding: 0;
}

/*text*/




/*hr*/
hr {
    border: 1px solid black;
    width: 100%;
}

/*img*/
.logo {
    width: calc(1vw - 8px);
    height: calc(1vh - 8px);
    min-height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 1;
    z-index: 0;
}
.logo {
    position: sticky;
 
}


/*text and image positions*/

/*text on the left*/
.left-text {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: left;
    font-size: 2vw;
    justify-content: start;
    font-family:'Roboto', sans-serif;
    font-weight: 2;
    color: #0078B8;
    margin: 0;
    padding: 0;
}
/*text on the righ*/
.right-text {
    float: right;
    width: 50%;
    padding: 10px;
    text-align: right;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #0078B8;
    margin: 0;
    padding: 0;
}
/*image on the left*/
.left-image {
    float: left;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.left-image2 {
    float: left;
    width: 20%;
    height: auto;
    padding: 10px;
    text-align: left;
    margin: 0;
    padding: 0;
}
/*image on the right*/
.right-image {
    float: right;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: right;
    margin: 0;
    padding: 0;
}
.right-image2 {
    float: right;
    width: 30%;
    height: auto;
    padding: 10px;
    text-align: right;
    margin: 0;
    padding: 0;
}
/*hr hidden*/
.hr-hidden {
    clear: both;
    visibility: hidden;
}

/*class mail*/
.mail {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    text-align: start;
    line-height: 1.5;
    line-break: auto;
    margin: 0;
    padding: 0;
}
/*class mail hover*/
.mail:hover {
    color: #0078B8;
}



/*background color of a part of the page*/

/*#background p {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #0078B8;
    background-color: black;
    text-align: start;
    line-height: 1.5;
    line-break: auto;
    margin: 0;
    padding: 0;
}

#background p img{
    background-color: black;
}*/


/*animations*/
.animation-appear-fast{
    animation: appear 1s;
}
.animation-appear-middle{
    animation: appear 2s;
}
.animation-appear-slow{
    animation: appear 4s;
}
.animation-appear-outside-left{
    animation: appear-outside-left 2s;
}
.animation-appear-outside-right{
    animation: appear-outside-right 2s;
}


@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*the object appear from the left*/
@keyframes appear-outside-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appear-outside-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*animation that make something appear from top left to bottom right*/
@keyframes appear-outside-top-left {
    from {
        opacity: 0;
        transform: translate(-100%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes appear-outside-bottom-right {
    from {
        opacity: 0;
        transform: translate(100%, 100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}


/*fin CSS de Victor*/


h4 {
  background-color: #007198;
}

h5 {
  background-color: #051C24;
}


*{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.changeDeImg {display: none;}
img {vertical-align: middle;}

/* Changement Img */
.changementhow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Rond du js */
.rond {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rond1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rond2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rond3 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rond4 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #545454;
}

/* Annimation changement d'image */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

footer .footer1 {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #003C57;
    color: #fff;
}

footer .footer2 {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #007198;
    color: #fff;
    font-size: 1vw;
}

.button2 {
    background-color: #0594D0;
    border: none;
    color: white;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 2vw 1VH;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #0594D0;
}
.button2:hover {
    background-color: #93E1F0;
    color: white;
    border: 2px solid #93E1F0;
}
.button2:active {
    background-color: #93E1F0;
    color: white;
    border: 2px solid #93E1F0;
}

/* Fin du Css de Johann */

/* CSS Quentin*/
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    position: relative;
}

.bar {
    border-radius: 25px;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background: black;
    background-size: 100%;
    opacity: 1;
}

.continent {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
/* fin CSS Quentin*/

/* Début CSS Théo */

.box-timeline {
    width: 100%;
    height: 1500px;
    background: #f1f1f1;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne_Theo {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond_Theo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box_Theo {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.t1 {
    top: 80px;
    left: calc(50% - 270px);
}
.t2 {
    top: 386px;
    left: calc(50% + 270px);
}
.t3 {
    top: 692px;
    left: calc(50% - 270px);
}
.t4 {
    top: 1000px;
    left: calc(50% + 270px);
}

/* .box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
} */


/* Fin CSS Théo */


